In [9]:
numbers=[1,66,89,100]
for i in numbers:
    if i>50:
        print(i)
        break

66

In [11]:
for i in range(1,11):
    if i>5:
        break
    else:
        print(i)

1
2
3
4
5

In [12]:
for i in range(1,11):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9

In [13]:
for i in range(-10,10):
    if i<0:
        continue
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for  i in range(1,5):
    if i<2:
        pass
    else:
        print(i)

2
3
4

In [15]:
fruits=['apple','grapes','banana']
for i in fruits:
    if i=='grapes':
        pass
    else:
        print(i)

apple
banana